{% extends 'account/basetemplates/admin_nav_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}
{% block body %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Make Donation</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                    live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9 ftco-animate">
                <div class="cause-entry">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div style="">
                            {{ donationform.donor|attr:"value:username"|attr:"type:input"|bootstrap_horizontal:'col-lg-1' }}
                        </div>
                        <div style="pointer-events: none;">
                            {{ donationform.cause|attr:"type:input"|bootstrap_horizontal:'col-lg-1' }}
                        </div>
                        {{ donationform.amount|attr:"type:number"|attr:"min:0"|bootstrap_horizontal:'col-lg-1' }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}