{% extends 'account/basetemplates/account_admin_base.html' %}
{% load static %}
{% block body %}
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static '/images/register/signin-image.jpg' %}" alt="sing up image">
                        </figure>
                        <a href="/register/" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class='fa fa-user'></i></label>
                                <input type="text" name="username" id="name" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class='fa fa-key'></i></label>
                                <input type="password" name="password" placeholder="Your Password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div style="padding-top: 10px;"><a href="{% url 'reset_password' %}">Reset Password</a></div>
                        <div>
                            {% for message in messages %}
                                <p style="color:#e72734"> {{ message }}</p>
                            {% endfor %}
                        </div>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="{% url 'social:begin' 'facebook' %}"><i
                                        style="color: #ffffff; text-align: center; padding-top: 5px; background: #3b5998; font-size: 20px;"
                                        class="fa">&#xf09a;</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}