{% extends 'account/basetemplates/account_admin_base.html' %}
{% load widget_tweaks %}
{% block body %}
    <title>Profile</title>
    <form method="post">
        {% csrf_token %}
        <p>Current Password:</p>
        {% render_field form.old_password class="input" type="password" %}
        <p>New Password:</p>
        {% render_field form.new_password1 class="input" type="password" %}
        <p>Confirm Password:</p>
        {% render_field form.new_password2 class="input" type="password" %}
        <input type="submit" class="btn btn-success" value="Save Changes">
    </form>
{% endblock %}